$minTablet: 768px;
$minPc: 1000px;
$minWide: 2000px;

@mixin responsive($device) {
  @if $device=="tablet" {
    @media all and (min-width: $minTablet) {
      $text-mult: 1.5;
      @content;
    }
  }

  @else if $device=="pc" {
    @media all and (min-width: $minPc) {
      $text-mult: 1;
      @content;
    }
  }

  @else if $device=="wide" {
    @media all and (min-width: $minWide) {
      $text-mult: 0.5;
      @content;
    }
  }
}

// @mixin fontSizeStyle($size, $weight) {
//   font-size:calc(#{$size} / 1);
//   font-weight: #{$weight};  
  
//   @if $size > 1.875rem{
//     font-size:calc(#{$size} / 2);
//     @include responsive (tablet) {
//       font-size:calc(#{$size} / 1.5);
//     }  
//     @include responsive (pc) {
//       font-size:calc(#{$size} / 1);
//     }
//     @include responsive (wide) {
//       font-size:calc(#{$size} / 0.5);
//     }
//   }  
// }

@mixin fontSizeStyle($size, $weight) {
  font-weight: #{$weight};  
  @if $size>=0.625rem and $size < 1.875rem{
    font-size:calc(#{$size} / 1);
  }  
  @else{
    font-size:calc(#{$size} / 2);
    @include responsive (tablet) {
      font-size:calc(#{$size} / 1.5);
    }  
    @include responsive (pc) {
      font-size:calc(#{$size} / 1);
    }
  }
  @include responsive (wide) {
    font-size:calc(#{$size} / 0.7);
  }
}

@mixin bgColor($style, $rgb, $a) {
    @if $rgb == "cPoint" {#{$style} : rgba(255,203,0,$a);}
    @else if $rgb == "cMain"{#{$style} : rgba(4,207,92,$a);}
    @else if $rgb == "cMainLight"{#{$style} : rgba(19,229,71,$a);}
    @else if $rgb == "cMainDark"{#{$style} : rgba(19,161,81,$a);}
    @else if $rgb == "cSub"{#{$style} : rgba(28,204,228,$a);}
}
