@charset "utf-8";

html {scroll-behavior: smooth;}
body{min-width:375px;font-size:100%;margin:0;padding:0;font-family:'NotoSans', 'λ…Έν† μ‚°μ¤', Arial, sans-serif;color:#000;font-weight:400;letter-spacing:-.05em;word-break: keep-all}

body, button, caption, div, dl, dt, dd, form, fieldset, figcaption, figure, footer, header, h1, h2, h3, h4, h5, h6, img, iframe, input, ul, ol, li, p, section, span, table, td, th, tr{margin:0;padding:0;border:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
header, footer, article{display:flex;flex-wrap:wrap;justify-content: center;align-content: center;}

a{display: inline-block}
a, a:visited, a:active, a:hover{color:inherit;border:none;text-decoration:none;transition: .3s ease-in-out}
ul, ol, li{list-style:none;}
i, em, address{font-style:normal}

table{border-collapse:collapse;border-spacing:0;font-size:100%;}
caption{width:0;height:0;line-height:0;text-indent:-9999px;}

legend{display:none;margin:0;padding:0;}
input, select, textarea, button{font:inherit;margin:0;padding:0;border:0;background:0;cursor:pointer;}
img{max-width:100%}
hr{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}

/*setting*/
#skip{top:0;right:0;position:absolute;width:100%;height:15px;text-align:center}
#skip li a{display:block;left:-10000px;position:absolute;top:0;width:100%;text-align:center;z-index:0;height:1px}
#skip li a:hover, #skip li a:focus, #skip li a:active {background:#363636;position:absolute;top:0px;left:0;z-index:5;color:#fff;width:100%;height:25px;padding:5px 0 0 0}
.blind{display:block;overflow:hidden;position:absolute;top:0;left:-5000px;font-size:1.8em}
.hide{display:none !important;margin:0;padding:0}

.material-icons{font-family: 'Material Icons';}
::-moz-selection {background:#ffcb00;text-shadow:none;}

::selection {background:#ffcb00;text-shadow:none;}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsround/v100/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
  }
.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
  /*  font-size: 24px;*/
      vertical-align: middle;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
  }