@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSans-Thin.eot);
	src: local('※'), url(../font/NotoSans-Thin.woff2) format('woff2'), url(../font/NotoSans-Thin.woff) format('woff'), url(../font/NotoSans-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 200;
	src: url(../font/NotoSans-Light.eot);
	src: local('※'), url(../font/NotoSans-Light.woff2) format('woff2'), url(../font/NotoSans-Light.woff) format('woff'), url(../font/NotoSans-Light.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSans-DemiLight.eot);
	src: local('※'), url(../font/NotoSans-DemiLight.woff2) format('woff2'), url(../font/NotoSans-DemiLight.woff) format('woff'), url(../font/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSans-Regular.eot);
	src: local('※'), url(../font/NotoSans-Regular.woff2) format('woff2'), url(../font/NotoSans-Regular.woff) format('woff'), url(../font/NotoSans-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSans-Medium.eot);
	src: local('※'), url(../font/NotoSans-Medium.woff2) format('woff2'), url(../font/NotoSans-Medium.woff) format('woff'), url(../font/NotoSans-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NotoSans-Bold.eot);
	src: local('※'), url(../font/NotoSans-Bold.woff2) format('woff2'), url(../font/NotoSans-Bold.woff) format('woff'), url(../font/NotoSans-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NotoSans-Black.eot);
	src: local('※'), url(../font/NotoSans-Black.woff2) format('woff2'), url(../font/NotoSans-Black.woff) format('woff'), url(../font/NotoSans-Black.otf) format('opentype');
}
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v100/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}

.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
/*  font-size: 24px;*/
	vertical-align: middle;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: 'liga'; */
  -webkit-font-smoothing: antialiased;
}