@import 'variable', 'mixin';

body{background:#f8f8f8}
header{width:100%;height:90px;display: flex;justify-content: center;align-content: center;background: white;
	h1{
		background: icon(logo, '04cf5c') no-repeat;
		width:50px;height:50px;
		background-size:contain;
	}
}
main{
    article{margin:2rem auto;}
    article:first-child{margin-top:0;}
}

footer{
    min-height:120px;background: white;
    .fnb{display:flex;flex-wrap:wrap;justify-content: center;text-align: center;letter-spacing:0;color:#333;
        a{margin:0 .625rem;padding:.625rem 1em;border-radius:20px; text-transform: uppercase;position:relative;overflow: hidden;box-sizing:border-box;
            &:before{width:0;height:100%;@include bgColor(background, cMain, 1);transition: .5s ease; display:block;position:absolute;top:0;left:0; content: "";}
            address{@include fontSizeStyle(.875rem, 400);position:relative;z-index: 1;}
			&.github i{background: icon(git, '000000') no-repeat;display: inline-block;width:22px;height:22px;background-size:contain;vertical-align: middle;}
			&.gitblog i{background: url(https://seraphinaciel.github.io/assets/images/logo.png) no-repeat;display: inline-block;width:22px;height:22px;background-size:contain;vertical-align: middle;}
            &:hover{
                &::before{width:100%}
                svg{background: white;border-color: white}
            }
        }
        i{@include fontSizeStyle(1.375rem, 400);margin-right:.625rem;}
        svg{margin-right:.625rem;border-radius:50%;border: 1px solid transparent;vertical-align: middle}
    }
    .copy{width:100%;text-transform: capitalize;margin-top: 1rem;@include fontSizeStyle(1rem, 400);text-align: center;letter-spacing: 0;}
}


@media all and (min-width:1300px){
    footer{padding:0 15vw;
        .fnb a{
            &[class^="git"] i{width:1.25vw;height:1.25vw;}
        }
        .copy{width:auto;margin:6px 0 0 auto;}
    }
}


.btnTop {position: fixed;right: 5vw;bottom: 10px;display: inline-block;z-index: 9;width: 40px;height: 40px;@include fontSizeStyle(.875rem, 400);text-align: center;line-height: 3;letter-spacing: 1px;@include bgColor(background, cMainDark, 1);border-radius: 50%;padding: 5px;transform: translate3d(0, 50px, 0);transition: .3s cubic-bezier(.7, 1, .7, 1);opacity: 0;text-transform: uppercase;
    &:hover {@include bgColor(background, cMainLight, 1);}
    &.btnVisible {opacity: 1;transform: translate3d(0, 0, 0);}
}


.sub_visual{padding: 8vw 10vw;background-color: rgba(54,54,54,0.7);position:relative;
    span{width:100%;height:100%;position:absolute;top:0;left:0;z-index: -1;}
    div{width:100%}
    h2{@include fontSizeStyle(4rem, 500);color:white;text-transform: capitalize;letter-spacing:1px;margin-bottom:1rem;}
    h3{
        @include fontSizeStyle(2rem, 600);color: white;text-align: right;width:100%;
        em{font-weight:900;font-size: 100%;letter-spacing: 1em;display:block;}
    }
    nav {display:none;
        &.sticky {background-color: #363636;position: fixed;top: 0;width: 100%;z-index: 99;display: flex;justify-content: center;flex-direction: column;
            p{width:100%;display: flex;justify-content: center;
                a{text-align: center;padding: 14px 16px;color: #f2f2f2;
                    &:hover {@include bgColor(background, cMain, 0.7);color: black;}
                    &.active{color: white;font-weight: 600;@include bgColor(background, cMain, 0.7)}
                }
            }
            + .story {padding-top: 10vh;}
            .progress {width: 100%;height: 4px;background: #ccc;justify-content: flex-start;
                .bar {height: 100%;@include bgColor(background, cPoint, 0.7);width: 0%;}
            }
        }
    }
}
@media all and (min-width:600px){
.sub_visual{padding:4vw 16vw;
    h2{@include fontSizeStyle(4rem, 600);}
}
}
@media all and (min-width:1000px){
.sub_visual{
    div{width: 70vw;}
}
}

.btn{text-align: center;margin-top: 2rem;
    a{margin:.4rem .4rem 0 0;@include bgColor(background, cMainDark, 1);color: white;padding:.875rem 4em;text-transform: uppercase;@include fontSizeStyle(.875rem, 400);letter-spacing: 0;
        &:hover{border-bottom-right-radius: 30px; text-decoration: overline}
        &:last-of-type{margin-right: 0;}
    }
}

.concept{padding:0 10vw;flex-direction: column;
    h3{@include fontSizeStyle(2.25rem, 600);width: 100%;margin-bottom:1rem;}
    ul{max-width: 1320px;display:flex;flex-wrap: wrap;
        li{width: 100%;padding:0 1rem 1rem 0;text-transform: capitalize;@include fontSizeStyle(.875rem, 400);line-height: 2.8;
            strong{@include fontSizeStyle(1rem, 900);letter-spacing: 0; display:block}
            dl{display:flex;flex-wrap: wrap;width:100%;line-height:1.9;
                dt{width:20%;padding: .5rem .5rem 0 0;margin-top: .5rem;
                    & + dd{padding-top: .5rem ;margin-top: .5rem;}
                    &:first-of-type, &:first-of-type + dd{margin-top: 0}
                }
                dd{width:80%;
                    & + dd{width:100%;padding-left: 20%}
                }
            }
        }
    }
   
}
@media all and (min-width:700px){
    .concept{padding: 0 8vw;
        ul{
            li{width:33.33%;
                &:last-of-type{width:100%}
            }
        }
    }
}
@media all and (min-width:1000px){
.concept{min-width: 850px;width: 50vw;padding:4vw 0}
}

/*swiper slide*/
.swiper {width: 100%;height:100%;max-height:1200px;padding-bottom: 40px;}
.swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;}
.swiper-pagination-bullet{width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,1rem));height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,2px));border-radius:0;}
.swiper-pagination-bullet-active{background:black;}
.swiper::after{content: "※마우스 휠로 좌우로 움직일 수 있습니다.";position: absolute;top:0;right:0;width:50%;text-align: right;color:gray}

.story{padding:0 2vw;
    figure{text-align: center;display:flex;flex-wrap: wrap;overflow: hidden;justify-content:center;
        span{
            &:first-of-type{flex: 2 1 60%}
            &:last-of-type{flex: 1 2 min-content}
        }
        &.colBox-1 span:first-of-type{flex:0 1 100%}
        &.colBox-5 span:first-of-type{flex:0 1 50%}
        &.colBox-6 span:first-of-type{flex:1 1 60%}
        &.colBox-7 span:first-of-type{flex:1 1 70%}
        figcaption{width: 100%;padding: 6vw 10vw;margin: auto; @include fontSizeStyle(1rem, 400);line-height: 2.2;text-align: left;
            h4{@include fontSizeStyle(1.125rem, 900);}
        }
    }
}
@media all and (min-width:700px){
    .story{
        figure{
            figcaption{padding:6vw 0;}
        }
    }
}
@media all and (min-width:1000px){
    .story{
        figure{
            figcaption{width: 50vw;padding:4vw 0;}
        }
    }
}

.codeBox{width:100vw;margin:2rem auto;
    pre{padding: 1rem;margin: 0;overflow: auto;
        code{width:100%;@include fontSizeStyle(1rem, 400);line-height: 1.6;display:block;white-space: pre-wrap;
            em{color:orangered;}
        }
    }
    .storyTxt{ padding: 6vw 8vw;margin:auto;@include fontSizeStyle(1rem, 400);color:#464646;
        h4{@include fontSizeStyle(1.125rem, 900);color:#222;padding:1rem 0;}
        kbd{color:gray;background:#f8f8f8;}
    }
}
@media all and (min-width:700px){
    .codeBox{display:flex;flex-wrap:wrap;flex-direction: column;
        .storyTxt{padding:6vw 0;}
    }
}
@media all and (min-width:1000px){
    .codeBox{width: 70vw;flex-direction: row;
        .storyTxt{width: 50vw;padding:4vw 0}
    }
}
@media all and (min-width:1400px){
    .codeBox{
        pre{width:50%;box-sizing: border-box}
        pre + div{width:50%;padding: 1rem;background: white;box-sizing: border-box}
    }
}


aside{min-height: 134px;padding:0 1.625rem;margin:2rem auto; display: flex;position: relative;
    a{width:50%;transition: .3s ease-in-out;
        div{height:100%;padding:0 30px;@include bgColor(background, cMainDark, 0.8);display:flex;flex-wrap: wrap;align-content: center;color:white;transition: .3s ease-in-out;word-break: break-all}
        i{font-size: 1.25rem;display:flex;flex-wrap: wrap;align-content: center;}
        span{padding:0 10px;display:flex;flex-direction: column;justify-content: center;letter-spacing: 0;@include fontSizeStyle(.875rem, 400);
            strong{display:none}
        }
        &.prev{
            div{text-align: left;}
            &:hover{border-bottom-left-radius:60px;overflow: hidden}
        } 
        &.next{
            div{text-align: right;justify-content: flex-end}
            &:hover{border-bottom-right-radius:60px;overflow: hidden}
        } 
        &.list{width: 60px;line-height: 60px; background:white;position:absolute;top:calc(50% - 30px);left:calc(50% - 30px);text-align:center;text-transform: uppercase;letter-spacing: 5px;@include fontSizeStyle(.625rem, 400);font-weight:900;transition: .3s ease-in-out;
            i{@include fontSizeStyle(1rem, 400);padding-bottom:6px;display: block}
            &:hover{@include bgColor(color, cMainDark, 1);border-radius: 50%}
        }
        &:hover{
            div{@include bgColor(background, cMain, 0.94)}  
            strong{text-decoration: underline}
        } 
        &.disabled{cursor: auto;
            div{background:lightgray;color:gray;}
            strong{text-decoration: none}
            &:hover,&:hover div,&:hover strong{border-radius:0;background:lightgray;text-decoration: none}
        }
    }
}
@media all and (min-width:500px){
    aside{
        a{
            div{padding:0 5vw;}
            i{@include fontSizeStyle(2rem, 400);}
            span{padding:0 20px;letter-spacing: 10px;
                strong{display: block;letter-spacing:0; @include fontSizeStyle(1.125rem, 400);font-weight:600}
            }
            &.list{width: 90px;line-height:90px;top:calc(50% - 45px);left:calc(50% - 45px);font-size:.875rem;
            }
        }
    }

}

@media all and (min-width:1000px){
aside{width: calc(60vw + 20px);padding: 0;}
}
