.title {
  width: 100%;
  background-color: rgba(54, 54, 54, 0.7);
  position: relative;
}
.title::before {
  width: 100%;
  height: 100%;
  background: url(../images/main/title.jpg) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-size: cover;
}
.title div {
  width: 100%;
  padding: 8.021% 1.625rem;
}
.title h2 {
  color: white;
  font-weight: 100;
  font-size: calc(4.4375rem / 2);
  text-transform: capitalize;
}
@media all and (min-width: 768px) {
  .title h2 {
    font-size: calc(4.4375rem / 1.5);
  }
}
@media all and (min-width: 1000px) {
  .title h2 {
    font-size: calc(4.4375rem / 1);
  }
}
@media all and (min-width: 2000px) {
  .title h2 {
    font-size: calc(4.4375rem / 0.7);
  }
}
.title h2 strong {
  font-weight: 500;
  display: block;
}
.title p {
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  padding-top: 0.625rem;
}
.title p span {
  display: inline-block;
  padding-right: 1em;
  text-transform: uppercase;
}
.title p span::before {
  content: "#";
}

@media all and (min-width: 800px) {
  .title div {
    padding: 4vw 9.625vw;
  }
}
@media all and (min-width: 1200px) {
  .title div {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0;
  }
}
.graph-wrap .graph {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  text-align: center;
}
.graph-wrap .graph::before {
  width: 70%;
  line-height: 0;
  padding: 18vw 0 10vw;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: block;
  content: attr(data-percent) "%";
  -webkit-transform: skew(-0.03deg);
          transform: skew(-0.03deg);
  margin: auto;
  font-weight: 900;
  font-size: calc(1.875rem / 2);
}
@media all and (min-width: 768px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 1.5);
  }
}
@media all and (min-width: 1000px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 1);
  }
}
@media all and (min-width: 2000px) {
  .graph-wrap .graph::before {
    font-size: calc(1.875rem / 0.7);
  }
}
.graph-wrap .graph strong {
  text-transform: uppercase;
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .graph-wrap {
    padding: 4vw 8vw;
  }
  .graph-wrap .graph {
    width: 20vw;
    height: 20vw;
    max-width: 190px;
    max-height: 190px;
  }
  .graph-wrap .graph::before {
    padding: 48% 0 23%;
  }
}
@media all and (min-width: 1200px) {
  .graph-wrap {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0 0;
  }
}
.history {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 400;
  font-size: calc(1rem / 1);
}
@media all and (min-width: 2000px) {
  .history {
    font-size: calc(1rem / 0.7);
  }
}
.history li {
  width: 50%;
  padding: 1.625em;
}
.history li strong {
  margin-bottom: 1rem;
  display: block;
}
.history li em {
  color: #656565;
  margin-bottom: 0.5rem;
  display: block;
}

@media all and (min-width: 800px) {
  .history {
    padding: 4vw 8vw;
  }
  .history li {
    width: 33.333%;
  }
}
@media all and (min-width: 1200px) {
  .history {
    min-width: 850px;
    width: 50vw;
    padding: 4vw 0;
  }
}
.projectList figure {
  width: 50%;
  padding-top: 50%;
  height: 0;
  position: relative;
  overflow: hidden;
  display: none;
}
.projectList figure:nth-of-type(6) img {
  left: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.projectList figure img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.projectList figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.projectList figure figcaption a {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: #222;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectList figure figcaption h3 {
  font-weight: 600;
  font-size: calc(1.875rem / 2);
  letter-spacing: 0;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
  color: white;
}
@media all and (min-width: 768px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 1.5);
  }
}
@media all and (min-width: 1000px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 1);
  }
}
@media all and (min-width: 2000px) {
  .projectList figure figcaption h3 {
    font-size: calc(1.875rem / 0.7);
  }
}
.projectList figure figcaption span {
  font-weight: 400;
  font-size: calc(1.125rem / 1);
  letter-spacing: 0;
  opacity: 0;
}
@media all and (min-width: 2000px) {
  .projectList figure figcaption span {
    font-size: calc(1.125rem / 0.7);
  }
}
.projectList figure figcaption i {
  font-weight: 400;
  font-size: calc(2rem / 2);
  opacity: 1;
  color: white;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media all and (min-width: 768px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 1.5);
  }
}
@media all and (min-width: 1000px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 1);
  }
}
@media all and (min-width: 2000px) {
  .projectList figure figcaption i {
    font-size: calc(2rem / 0.7);
  }
}
.projectList p {
  width: 100%;
  text-align: center;
}
.projectList p .btn_readMore {
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(0.875rem / 1);
  letter-spacing: 0.5rem;
  margin-top: 2rem;
}
@media all and (min-width: 2000px) {
  .projectList p .btn_readMore {
    font-size: calc(0.875rem / 0.7);
  }
}
.projectList p .btn_readMore i {
  margin-bottom: 1rem;
  display: block;
  font-weight: 400;
  font-size: calc(1.875rem / 2);
}
@media all and (min-width: 768px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 1.5);
  }
}
@media all and (min-width: 1000px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 1);
  }
}
@media all and (min-width: 2000px) {
  .projectList p .btn_readMore i {
    font-size: calc(1.875rem / 0.7);
  }
}
.projectList p .btn_readMore:hover {
  background: rgb(4, 207, 92);
  color: white;
  padding: 0.5rem 1rem;
}
.projectList p .btn_readMore.noContent {
  cursor: default;
}
.projectList p .btn_readMore.noContent:hover {
  background: 0;
  color: inherit;
  padding: 0;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@media all and (min-width: 1200px) {
  .projectList {
    width: 100vw;
  }
  .projectList figure {
    width: 33.33%;
    padding-top: 33.33%;
  }
  .projectList figure figcaption a:hover {
    background: rgba(4, 207, 92, 0.7);
    color: white;
  }
  .projectList figure figcaption a:hover span, .projectList figure figcaption a:hover i {
    opacity: 1;
  }
  .projectList figure figcaption a:hover i {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
            animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  .projectList figure figcaption a:hover h3 {
    position: static;
    text-shadow: none;
    margin-bottom: 2%;
  }
  .projectList figure figcaption h3 {
    position: absolute;
    top: 4vw;
    left: 1rem;
  }
  .projectList figure figcaption i {
    opacity: 0;
    text-shadow: none;
  }
}
@media all and (min-width: 2000px) {
  .projectList figure {
    width: 25%;
    padding-top: 25%;
  }
  .projectList h3 {
    font-weight: 400;
    font-size: calc(1rem / 1);
  }
}
@media all and (min-width: 2000px) and (min-width: 2000px) {
  .projectList h3 {
    font-size: calc(1rem / 0.7);
  }
}
.slider {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  overflow: hidden;
  background: white;
}
.slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slider .container .box {
  width: 100%;
  text-align: center;
}
.slider .container .box a {
  font-weight: 400;
  font-size: calc(0.875rem / 1);
  color: gray;
  width: 40%;
  display: inline-block;
  padding: 0.5rem 1rem;
}
@media all and (min-width: 2000px) {
  .slider .container .box a {
    font-size: calc(0.875rem / 0.7);
  }
}

@media all and (max-width: 999px) {
  .slider .container .box:nth-of-type(n+8) {
    display: none;
  }
}
@media all and (min-width: 1000px) {
  .slider .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .slider .container .box {
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-animation: moving 30s linear infinite;
            animation: moving 30s linear infinite;
  }
  .slider .container .box a {
    font-weight: 500;
    font-size: calc(1rem / 1);
    width: auto;
    padding: 0;
    display: block;
    line-height: 80px;
  }
}
@media all and (min-width: 1000px) and (min-width: 2000px) {
  .slider .container .box a {
    font-size: calc(1rem / 0.7);
  }
}
@media all and (min-width: 1000px) {
  .slider .container .box a:hover {
    color: black;
  }
}
@media all and (min-width: 1000px) {
  .slider:hover .box {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@media all and (min-width: 1000px) {
  @-webkit-keyframes moving {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-2000px);
              transform: translateX(-2000px);
    }
  }
  @keyframes moving {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-2000px);
              transform: translateX(-2000px);
    }
  }
}