@import "reset.css";
$mColor:#19ce60;


header {
	height:90vh;
	padding:36px;
	background: #F0F0F0;
	color:$mColor;	
	h1 {
		font-size: 7.2em;
		letter-spacing:-0.05em;
		margin:36px 0;
	}
	h2 {
		font-size: 1.6em;
		margin-bottom: 36px;
	}
	p {
		line-height:1.6;
		margin-bottom: 36px;
	}
	nav {
		margin-bottom: 36px;
		a {
			color:#606060;
			display:inline-block;
			border-bottom: 1px solid;
			&:hover{
			}
		}
		em {
			margin-top:36px;
			font-size:.625em;
			color:#888;
		}
	}
}


main {
	background: $mColor;
	nav {
		padding:36px 48px;
		font-size: 1.5em;
		font-weight:600;
		color:#fff;
		border-bottom: 1px solid #15c654;
		button{
			color:#2d68d2;
			text-decoration: underline;
			&:hover{
				color:#fff;
			}
		}
	}
	article {
		display: flex;
		flex-wrap:wrap;
		h2 {
			font-size: 4.4em;
		}
		p {
			font-size: 1.3em;
		}
		section {
			h3 {
				font-size: 1.7em;
				background: #2030A4;
			}
			video {
			}
			span {
			}
			button {
			}
			strong {
			}
		}
	}
}